.navbar {
  height: 13vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(46, 57, 57);
  }

  .navbar .logo {
    height: 100%;
    width: 45%;
    display: flex;
    align-items: center;
    justify-content:left;
    padding-left: 8vw;
    color: white;
    font-size: 1.5vw;  
  }
  
  .navbar-links {
    height: 100%;
    width: 55%;
    display: flex;
    justify-content:space-around;
    align-items: center;
  }
  .navbar-links a{
    color: white;
    text-decoration: none;
    font-size: 1rem;
  }
 
.loginbtn{
  height: 40px;
  width: 120px;
  background-color: rgb(254, 252, 252);
  
}